.lista-cuidadores::-webkit-scrollbar {
    display: none;
}

.lista-cuidadores {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 90vh;
    background-color: #F5F5F5;
    overflow: auto;
}